{% extends "base.twig" %}

{% block title %}Landing Page{% endblock %}

{% block content %}

    <div class="container pt-2">
        <div class="d-flex justify-content-center">
            <h2 class="">Landing Page</h2>
        </div>
        <div class="d-flex justify-content-between" style="width:10vw; position: relative; bottom: 38px; left: 67vw;">
                <div class="me-4">
                    <a href="/register">register</a>
                </div>
                <div class="">
                    <a href="/login">login</a>
                </div>        
        </div>
        <div class="d-flex justify-content-center mb-3">
            <div class="border" style="height:75px; width:75px"></div>
        </div>
    </div>


    <div class="container d-flex justify-content-between ">
        <p class="px-3">
            A iaculis at erat pellentesque adipiscing. Urna nunc id cursus metus aliquam. Faucibus ornare suspendisse sed nisi. Varius sit amet mattis vulputate enim. Nulla porttitor massa id neque aliquam. Odio morbi quis commodo odio. Magna fringilla urna porttitor rhoncus dolor. 
        </p>
        <p class="px-3">
            Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus. Elementum eu facilisis sed odio morbi. Platea dictumst vestibulum rhoncus est pellentesque. Id leo in vitae turpis massa sed elementum tempus. Eget arcu dictum varius duis. Neque convallis a cras semper auctor neque vitae.
        </p>
        <p class="px-3">
            Sagittis aliquam malesuada bibendum arcu. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. Tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum. Eu mi bibendum neque egestas congue quisque egestas
        </p>
    </div>

{% endblock %}